*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.general-btn{
    width: 600px;
    height: 600px;
    background-color: aqua;

    

}


@keyframes btn_animation {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(180deg);
    }
}

.btn{
    padding: 20px 40px;
    border-radius: 5px;
    background-color:blueviolet;
    border:none;
    text-transform: uppercase;
    color:#fff;
    transition: all 2s linear;
    
    
    animation-name: btn_animation;
    animation: duration 2s;
    transition: all 2s linear;    
    animation-timing-function: linear;
    transform: rotate(360deg);
    translate: 50px 0;
    translate: 460px 0;
    transition: all 2s linear;
    transition-duration: 2s;


}